---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum numquam tenetur iusto voluptate labore architecto nam delectus vitae, hic explicabo libero optio quo odit consequuntur culpa, mollitia, tempore esse placeat doloremque ducimus dolorem at molestias alias. Saepe quis perferendis quisquam repudiandae mollitia. Aliquam labore adipisci deserunt, magni placeat maxime porro facere eaque? Facilis, id qui. Exercitationem quis eveniet facere sint! Ducimus laborum vel cumque obcaecati? Illo nobis fugit velit. Distinctio consequuntur hic minima deserunt quaerat! Id nulla corporis distinctio! Rerum nostrum beatae, nisi optio quidem distinctio exercitationem! Incidunt magnam laudantium voluptas quisquam facilis tempore excepturi, cumque voluptatum veniam itaque veritatis.</p>
</Layout>